/*.wrapper {
	width: 100%;
    height: 100vh;
	margin: 0 auto;
}*/
.date-header {
	text-align: center;
	margin: 20px;
    font-size: 30px;
}
#calendar table {
	border-collapse: collapse;
	text-align: center;
    margin: 0 auto;
}
#calendar table thead td {
	height: 80px;
	font-weight: bold;
}	
#calendar table td {
	border: solid 1px #000;
}
#calendar table td.date {
	height: 80px;
}
#calendar table td.sun {
	color: red;
}
#calendar table td.sat {
	color: blue;
}
#calendar table td.not-this-month {
	background: #ddd;
	color: #999;
}