body {
    margin: 0;
    padding: 20px;
    width: 100%;
}
.diary {
    border: 1px solid #000;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    padding: 10px;
    float: left;
}   
h2 {
    text-align: center;
}
fieldset {
    border: none;
}
label {
    font-size: 17px;
    margin: 0 0 20px 20px; 
}
input {
    display: block;
    width: 320px;
    margin: 0 0 20px 20px;
    font-size: 15px;
}
#title {
    height: 25px;
}
#image {
    height: 80px;
}
#text {
    height: 120px;           
}
.diary-item {
    border: 1px solid #000;
    border-radius: 5px;
    /*display: inline-block;*/
    width: 200px;
    height: 200px;
    padding: 10px 10px 10px 20px;
    float: left;
    margin: 0 20px 20px 20px;    
}
.diary-item-title {
    margin: 20px 0;
}
.message-header {
    /*display: inline-block;*/
    position: relative;
}
.diary-item-title {
    font-size: 17px;
}
.delete {
    position: absolute;
    top: 0;
    right: 20px;
}
.btn-group {
    float: right;
    padding-right: 20px;
}